@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, 
body { 
    @apply h-full overflow-hidden; 
}

@font-face {
	/* Reference name */
	font-family: 'Jost';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Jost-VariableFont_wght.ttf');
}